@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700;800&display=swap');

.app-container {
  min-height: 100vh;
  background-color: #ffffff;
}

::-webkit-scrollbar {
  width: 8px;
}

::-webkit-scrollbar-track {
  background: #f1f1f1;
}

::-webkit-scrollbar-thumb {
  background: #FF4757;
  border-radius: 4px;
}

::-webkit-scrollbar-thumb:hover {
  background: #ff2c40;
}